In [1]:
name = input('이름을 입력하세요. ')
welcome = name + '님, 어서오세요'

print(welcome)

이름을 입력하세요. 김슬기
김슬기님, 어서오세요

In [6]:
a=10
b=20
ret=a+b
print("a와 b를 더한 값은 ",end='')
print(ret,end='')
print("입니다.")

a와 b를 더한 값은 30입니다.

In [7]:
a=10
b=20
ret=a+b
print("a와 b를 더한 값은 ",end='\n')
print(ret,end='\n')
print("입니다.")

a와 b를 더한 값은
30
입니다.

In [11]:
test="파이썬 프로그래밍 어려워요..."
result=test.startswith('자바')
print(result)
result=test.endswith('...')
print(result)

False
True

In [12]:
a='a s d f'
for i in a:
    print(i)

a

s

d

f

In [13]:
for i in test:
    print(i)

파
이
썬

프
로
그
래
밍

어
려
워
요
.
.
.

In [14]:
list(range(1,10,-1))

[]

In [16]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(1,10,5))

[1, 6]

In [18]:
for i in list(range(1,10,2)):
    print("*"*i,end='')
    print()

*
***
*****
*******
*********

In [19]:
for i in list(range(1,10,2)):
    print(str(i)*i,end='')
    print()

1
333
55555
7777777
999999999

In [3]:
for i in range(1,6):
    for j in range(1,i):
        print(" "*j,end='')
    
    for k in range(1,6-i):
        print('*'*k,end='')
    print()

**********
 ******
   ***
      *

In [28]:
a=12
total=0
while True:
    total=total+a
    if total>1000:
        print(a)
        break
    a=a+1

46

In [27]:
all=list(range(1,45,4))
print('all=',all)

all= [1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41]

In [26]:
data=set('applycation')
print(data)

{'p', 'y', 'i', 't', 'a', 'o', 'c', 'n', 'l'}

In [1]:
animals=["cat","dog","rabbit"]
for i in range(0,len(animals)):
    animal=animals[i]
    print(animal)

cat
dog
rabbit

In [2]:
customer={"name":"kelly","age":"24","email":"bigdata@naver.com"}
customer.keys()

dict_keys(['name', 'age', 'email'])

In [3]:
customer.values()

dict_values(['kelly', '24', 'bigdata@naver.com'])

In [6]:
for key in customer:
    value=customer[key]
    print("%s=>%s"%(key,value))

name=>kelly
age=>24
email=>bigdata@naver.com

In [7]:
customer.items()

dict_items([('name', 'kelly'), ('age', '24'), ('email', 'bigdata@naver.com')])

In [8]:
for key,value in customer.items():
    print("{key}{space}=>{value}".format(key=key,space=' '*(7-len(key)),value=value))

name   =>kelly
age    =>24
email  =>bigdata@naver.com

In [9]:
wh=100
ht=200
data=(wh,ht)
print(data)

(100, 200)

In [10]:
for sth in customer.items():
    print(sth)

('name', 'kelly')
('age', '24')
('email', 'bigdata@naver.com')

In [48]:
def add (t1,t2="파이썬"):
    print(t1+':'+t2)
    
add("Great")

Great:파이썬

In [49]:
add("apple","Delicious")

apple:Delicious

In [60]:
a=13
txt="apply"
def de1():
    global a
    a=14
    txt="apple"
    print(txt)
    print(a)
de1()

apple
14

In [61]:
def reverse(a,b,c):
    return c,b,a

ret=reverse(3,4,6)
print(ret)
ret

(6, 4, 3)

(6, 4, 3)

In [62]:
ret

(6, 4, 3)

In [63]:
a1,a2,a3=reverse(2,4,6)
print(a3)
print(a1,end='')
print(a2)
print()
print(a1)

2
64

6

In [64]:
def add1(nums):
    sum=0
    for num in nums:
        sum+=num
    return sum

def add2(*nums):
    sum=0
    for num in nums:
        sum+=num
    return sum

In [65]:
add1((1,2,3,4))

10

In [67]:
add2(1,2,3,4)

10

In [88]:
def introduce(name,greeting):
    return print("Hello,{name}.\n {greeting}".format(name=name,greeting=greeting))

dic={'name':"kelly",'greeting':"nice too see you"}
introduce(**dic)

Hello,kelly.
 nice too see you

In [90]:
a=lambda x,y,z: 3*x+3**y+z
a(1,6,8)

740

In [91]:
(lambda x: 2**x)(4)

16

In [93]:
a(2,3,4) ,a(4,2,1)

(37, 22)

In [94]:
func=lambda x,y:2**x-2*y
func(12,23)

4050

In [95]:
type(func)

function

In [96]:
func

In [97]:
[int(1.3456578), float(3.4567)]

[1, 3.4567]

In [100]:
[complex(1,3)]

[(1+3j)]

In [102]:
list_data=["23",1,2,3]
tuple_data={"23",1,2,3}
set_data=("23",1,2,3)

print("리스트로 변환  :",list(tuple_data),list(set_data))
print("튜플로 변환  :",tuple(list_data),tuple(set_data))
print("세트로 변환  :",set(list_data),set(tuple_data))

리스트로 변환  : [3, 1, 2, '23'] ['23', 1, 2, 3]
튜플로 변환  : ('23', 1, 2, 3) ('23', 1, 2, 3)
세트로 변환  : {3, 1, 2, '23'} {3, 1, 2, '23'}

In [104]:
bool(' ')

True

In [105]:
bool("")

False

In [106]:
bool(None)

False

In [107]:
myturm=[]
bool(myturm)

False

In [108]:
def Name(name):
    if bool(name):
        print("name is {}".format(name))
    else:
        print("None")
        
Name("Good")

name is Good

In [110]:
Name("")

None

In [115]:
a=[1,4,7,9,2,34,45]
[max(a),min(a)
]

[45, 1]

In [117]:
b=['Gf',"Af","bs"]
[max(b),min(b)]

['bs', 'Af']

In [118]:
a=[21,34,56]
sum=0
for x in a:
    sum+=x
    print(sum)

21
55
111

In [122]:
class 빵틀:
    모양=str()
    반죽=str()
    앙꼬=str()
    단가=str()
    def __init__ (self,모양, 반죽, 앙꼬, 단가):
        self.모양=모양
        self.반죽=반죽
        self.앙꼬=앙꼬
        self.단가=단가
    def 굽기(self, 개수):
        횟수=(개수-1)/10+1
        시간=int(횟수)*5
        return 시간
    def price(self, 개수):
        금액=개수*self.단가
        return 금액
    
    def order(self, 개수,금액):
        시간=self.굽기(개수)
        주문금액=self.price(개수)
        거스름돈=금액-주문금액
        return 시간,거스름돈

    
order=200
payment=20000

bread=빵틀("bread","powder","point",20)
wt,ch=bread.order(order,payment)
shape=bread.모양
print("I order {} {} and paid {}".format(shape,order,payment))


if ch==0:
    mes=' please wait { } mins.'.format(wt)
elif ch>0:
    mes="charge is {}""    please wait {}mins.".format(ch,wt)
elif ch<0:
    mes="you need pat more {}".format(-ch)
else:
    "Error"
print("-"*50)
print(mes)

i order bread 200 and paid 20000
--------------------------------------------------
charge is 16000    please wait 100mins.

In [126]:
class cat:
    def __init__(self, name):
        self.name=name
        self.tricks=[] #위치 보기
        
    def add_trick(self,trick):
        self.tricks.append(trick)
        
cat1=cat('sky')
cat2=cat('princess')

cat1.add_trick('구르기')
cat2.add_trick('두발로 서기')
cat2.add_trick('죽은 척 하기')

print(cat1.name,':',cat1.tricks)
print(cat2.name,':',cat2.tricks)

sky : ['구르기']
princess : ['두발로 서기', '죽은 척 하기']

In [128]:
class dog:
    tricks=[] #위치 보기
    def __init__(self,name):
        self.name=name
        
    def add_trick(self,trick):
        self.tricks.append(trick)
        
dog1=dog("Nabi")
dog2=dog("Siba")

dog1.add_trick('구르기')
dog2.add_trick('짓기')
dog2.add_trick("산책하기")

print(dog1.name,":",dog1.tricks)
print(dog2.name,":",dog2.tricks)

Nabi : ['구르기', '짓기', '산책하기']
Siba : ['구르기', '짓기', '산책하기']

In [131]:
class Animal:
    tribe='animal'
    def __init__(self,name):
        self.name=name
        
    def getInfo(self):
        print('it is %s which is %s'%(self.name,self.tribe) )
        
class Carnivore(Animal):
    def __init__(self,name):
            self.name=name
            self.tribe='carnivore'
            
    def favoriteFood(self):
            print('I love meat')
            
class Herbivore(Animal):
    def __init__(self,name):
        self.name=name
        self.tribe="harbivore"
    def favoriteFood(self):
        print('I love lawn')
        

tiger=Carnivore("Tiger")
tiger.getInfo()
tiger.favoriteFood()

rabbit=Herbivore("Rabbit")
rabbit.getInfo()
rabbit.favoriteFood()

it is Tiger which is carnivore
I love meat
it is Rabbit which is harbivore
I love lawn

In [143]:
class Unit:
    def __init__(self,name,energy, fly):
        self.name=name
        self.energy=energy
        self.fly=fly
        self.alive=True
        
    def get_tribe(self):
        print(self.name+" is a basic tribe")
        
    def get_energy(self):
        if self.energy>0:
            print(self.name+ ' reminds ', self.energy ,'energy')
        else:
            self.alive=False
            print(self.name +' is died')
            
class Terran(Unit):
    def get_tribe(self):
        print(self.name +' is a Terran!')
        
    def be_attactted(self):
        self.energy-=10
        
class Protoss(Unit):
    def get_tribe(self):
        print(self.name +' is a Process!')
        
    def be_attactted(self):
        self.energy-=5
        
        
class Zerg(Unit):
    def get_tribe(self):
        print(self.name +' is a Zerg!')
        
    def be_attactted(self):
        self.energy-=6

In [145]:
import time
from tqdm import tqdm_notebook

# 종족별 유닛 생성
marine = Terran('테란', 60, False)
corsair = Protoss('커세어', 20, True)
hydra = Zerg('히드라', 70, False)

for x in tqdm_notebook(range(5)):

    if x == 0:
        print('게임 시작, 유닛의 에너지는 다음과 같습니다!! \n' + '-' * 50)
        marine.get_energy()
        corsair.get_energy()
        hydra.get_energy()
        time.sleep(2)
        continue

    marine.be_attactted()
    corsair.be_attactted()
    hydra.be_attactted()

    print('\n유닛간에 %d차 공방전이 이루어졌습니다! \n' % (x) + '-' * 50)
    time.sleep(1)
    marine.get_energy();
    time.sleep(1)
    corsair.get_energy();
    time.sleep(1)
    hydra.get_energy();
    time.sleep(1)

    if (marine.alive & corsair.alive & hydra.alive):
        time.sleep(1)
    else:
        break

print('=' * 50, '\nGG, 게임이 종료되었습니다 !!!')

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

게임 시작, 유닛의 에너지는 다음과 같습니다!!
--------------------------------------------------
테란 reminds  60 energy
커세어 reminds  20 energy
히드라 reminds  70 energy

유닛간에 1차 공방전이 이루어졌습니다!
--------------------------------------------------
테란 reminds  50 energy
커세어 reminds  15 energy
히드라 reminds  64 energy

유닛간에 2차 공방전이 이루어졌습니다!
--------------------------------------------------
테란 reminds  40 energy
커세어 reminds  10 energy
히드라 reminds  58 energy

유닛간에 3차 공방전이 이루어졌습니다!
--------------------------------------------------
테란 reminds  30 energy
커세어 reminds  5 energy
히드라 reminds  52 energy

유닛간에 4차 공방전이 이루어졌습니다!
--------------------------------------------------
테란 reminds  20 energy
커세어 is died
히드라 reminds  46 energy
==================================================
GG, 게임이 종료되었습니다 !!!

In [147]:
try:
    print('Hello')
    print(param)
except:
    print('happen Exception')
else:
    print('Nothing happens')
finally:
    print('it must do that')

Hello
happen Exception
it must do that

In [150]:
try:
    print(param)
except Exception as e:
    print('NameError')
    print(e)

NameError
name 'param' is not defined

In [155]:
import traceback

def exception_test():
    print("[1] Can you add 2 and '2' in python?")
    
    try:
        print("[2] Try it~",2+'2')
    except TypeError: 
        print("[2] I got TypeError")
        traceback.print_exc()   # 트레이스백 메시지 출력
        
exception_test()

[1] Can you add 2 and '2' in python?
[2] I got TypeError

Traceback (most recent call last):
  File "<ipython-input-155-56c2d2386ebc>", line 7, in exception_test
    print("[2] Try it~",2+'2')
TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [157]:
def exception2(file_path):
    try:
        f=open(file_path,'r')
    except IOError:
        print('cannt open',file_path)
    else:
        print('File has ',len(f.readline()),'lines')
        f.close()
        
exception2('Read.txt')

cannt open Read.txt

In [158]:
class TooBigError(Exception):
    def __init__(self,val):
        self.val=val
    def __str__(self):
        return 'too big nim {}. Use 1~10!'.format(self.val)

#  FILE

In [196]:
fp=open('./data/hello.txt','r')
fp.read()

'hello'

In [197]:
fp.close()

In [199]:
with open('./data/hello.txt','r') as fp:
    data=fp.read()
    print(data)

hello

In [201]:
data

'파이썬을 위한 빅데이터 분석'

In [208]:
def read_csv(filepath):
    
    fp = open(filepath, 'r', encoding='utf-8')
    data = fp.read()
    fp.close()
    
    # return dataL
    elements = []
    
    rows = data.split("\n")
    # print(rows)
    for row in rows:        
        
        fields = row.split(",") #각각 키끼리 나누기
        # print(fields)
        
        element = {   
            "name"   : fields[0],
            "school" : fields[1],
            "email"  : fields[2],
        }
        elements.append(element)
    return elements

In [207]:
filepath='data/student.csv'
read_csv(filepath)

[{'name': '김태희', 'school': '서울대', 'email': 'thkim@gmail.com'},
 {'name': '신민아', 'school': '성균관대', 'email': 'sma@gmial.com'},
 {'name': '전지현', 'school': '중앙대', 'email': 'jhjeon@gmail.com'},
 {'name': '이영애', 'school': '숭실대', 'email': 'janggumi@gamil.com'}]

In [280]:
def read_csv(filepath):
    
    fp = open(filepath, 'r', encoding='utf-8')
    data = fp.read()
    fp.close()
    
    # return dataL
    elements = []
    
    rows = data.split("\n")
    a=rows[0].split(",")
    print(a)

In [281]:
filepath='data/company.csv'
read_csv(filepath)

['랭킹', ' 회사이름', ' 영문명', ' 창업자 ']

In [288]:
def read_csv(filepath):
    
    fp = open(filepath, 'r', encoding='utf-8')
    data = fp.read()
    fp.close()
    
    # return dataL
    ans = []
    
    rows = data.split("\n")
    a=rows[0].split(",")
    #print(a)
    del rows[0]
    
    
    for row in rows:        
        
        fields = row.split(",")
        # print(fields)
        
        dictionary = {}
        for i in range(len(a)):
            column=a[i]
            key=fields[i]
            dictionary[column]=key
        ans.append(dictionary)
        
        
    return ans

In [289]:
filepath='data/company.csv'
read_csv(filepath)

[{'랭킹': '1', ' 회사이름': ' 애플', ' 영문명': ' Apple', ' 창업자 ': ' 스티브잡스 '},
 {'랭킹': '2', ' 회사이름': ' 구글', ' 영문명': ' Google', ' 창업자 ': ' 세르게이브린 & 레리페이지 '},
 {'랭킹': '3',
  ' 회사이름': ' 마이크로소프트',
  ' 영문명': ' Microsoft',
  ' 창업자 ': ' 빌게이츠 & 폴앨런 '},
 {'랭킹': '4', ' 회사이름': ' 페이스북', ' 영문명': ' Facebook', ' 창업자 ': ' 마크쥬크버그 '},
 {'랭킹': '5', ' 회사이름': ' 에어비엔비', ' 영문명': ' Airbnb', ' 창업자 ': ' 브라이언체크키 & 조게비어'}]